In [1]:
## IMPORTING LIBRARIES
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.sparse import csr_matrix
from sklearn.neighbors import NearestNeighbors

In [2]:
### LOADING THE MOVIES DATA AND THE USER RATING DATA

movies_df = pd.read_csv('movies.csv', usecols = ['movieId', 'title'], dtype = {'movieId': 'int32', 'title': 'str'})

rating_df = pd.read_csv('ratings.csv', usecols = ['userId', 'movieId', 'rating'], dtype = {'userId': 'int32', 'movieId': 'int32', 
                                                                                           'rating': 'float32'} )

#### EXPLORATORY DATA ANALYSIS

In [3]:
movies_df.head(3)

   movieId                    title
0        1         Toy Story (1995)
1        2           Jumanji (1995)
2        3  Grumpier Old Men (1995)

In [4]:
rating_df.head(3)

   userId  movieId  rating
0       1        1     4.0
1       1        3     4.0
2       1        6     4.0

In [5]:
df = pd.merge(rating_df, movies_df, on = 'movieId')
df.head()

   userId  movieId  rating                        title
0       1        1     4.0             Toy Story (1995)
1       1        3     4.0      Grumpier Old Men (1995)
2       1        6     4.0                  Heat (1995)
3       1       47     5.0  Seven (a.k.a. Se7en) (1995)
4       1       50     5.0   Usual Suspects, The (1995)

In [6]:
combine_movie_rating = df.dropna(axis = 0, subset = ['title'])
movie_ratingCount = (combine_movie_rating.groupby(by = ['title'])['rating'].count().reset_index().rename(columns = 
                                                                                                         {'rating': 'totalRatingCount'})
                     [['title', 'totalRatingCount']])
movie_ratingCount.head()

                                     title  totalRatingCount
0                               '71 (2014)                 1
1  'Hellboy': The Seeds of Creation (2004)                 1
2                   'Round Midnight (1986)                 2
3                      'Salem's Lot (2004)                 1
4                'Til There Was You (1997)                 2

In [7]:
rating_with_totalRatingCount = combine_movie_rating.merge(movie_ratingCount, left_on = 'title', right_on = 'title', how = 'left')
rating_with_totalRatingCount.head()

   userId  movieId  rating                        title  totalRatingCount
0       1        1     4.0             Toy Story (1995)               215
1       1        3     4.0      Grumpier Old Men (1995)                52
2       1        6     4.0                  Heat (1995)               102
3       1       47     5.0  Seven (a.k.a. Se7en) (1995)               203
4       1       50     5.0   Usual Suspects, The (1995)               204

In [8]:
pd.set_option('display.float_format', lambda x: '%.3f' % x)
print(rating_with_totalRatingCount['totalRatingCount'].describe())

count   100836.000
mean        58.759
std         61.965
min          1.000
25%         13.000
50%         39.000
75%         84.000
max        329.000
Name: totalRatingCount, dtype: float64

In [9]:
popularity_threshold = 50
rating_popular_movie = rating_with_totalRatingCount.query('totalRatingCount >= @popularity_threshold')
rating_popular_movie.head()

   userId  movieId  rating                        title  totalRatingCount
0       1        1   4.000             Toy Story (1995)               215
1       1        3   4.000      Grumpier Old Men (1995)                52
2       1        6   4.000                  Heat (1995)               102
3       1       47   5.000  Seven (a.k.a. Se7en) (1995)               203
4       1       50   5.000   Usual Suspects, The (1995)               204

In [10]:
rating_popular_movie.shape

(41362, 5)

##### RECOMMENDATION BASED ON K-NEAREST NEIGHBORS MODEL CONSIDERING COSINE SIMILARITY

In [11]:
### LETS CREATE A PIVOT TABLE REPRESENTING THE RATING MATRIX
movies_features_df = rating_popular_movie.pivot_table(index = 'title', columns = 'userId', values = 'rating').fillna(0)
movies_features_df.head()

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
title,,,,,,,,,,,,,,,,,,,,,
10 Things I Hate About You (1999),0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,3.000,0.000,5.000,0.000,0.000,0.000,0.000,0.000
12 Angry Men (1957),0.000,0.000,0.000,5.000,0.000,0.000,0.000,0.000,0.000,0.000,...,5.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
2001: A Space Odyssey (1968),0.000,0.000,0.000,0.000,0.000,0.000,4.000,0.000,0.000,0.000,...,0.000,0.000,5.000,0.000,0.000,5.000,0.000,3.000,0.000,4.500
28 Days Later (2002),0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,3.500,0.000,5.000
300 (2007),0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,3.000,...,0.000,0.000,0.000,0.000,3.000,0.000,0.000,5.000,0.000,4.000

In [12]:
movies_features_df_matrix = csr_matrix(movies_features_df.values)
movies_features_df_matrix

<450x606 sparse matrix of type '<class 'numpy.float32'>'
	with 41360 stored elements in Compressed Sparse Row format>

In [13]:
model_knn = NearestNeighbors(metric = 'cosine', algorithm = 'brute')
model_knn.fit(movies_features_df_matrix)

NearestNeighbors(algorithm='brute', metric='cosine')

In [14]:
movies_features_df.shape

(450, 606)

In [15]:
query_index = np.random.choice(movies_features_df.shape[0])
print(query_index)
distances, indices = model_knn.kneighbors(movies_features_df.iloc[query_index, :].values.reshape(1, -1), n_neighbors = 6)

35

In [16]:
movies_features_df.head()

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
title,,,,,,,,,,,,,,,,,,,,,
10 Things I Hate About You (1999),0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,3.000,0.000,5.000,0.000,0.000,0.000,0.000,0.000
12 Angry Men (1957),0.000,0.000,0.000,5.000,0.000,0.000,0.000,0.000,0.000,0.000,...,5.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
2001: A Space Odyssey (1968),0.000,0.000,0.000,0.000,0.000,0.000,4.000,0.000,0.000,0.000,...,0.000,0.000,5.000,0.000,0.000,5.000,0.000,3.000,0.000,4.500
28 Days Later (2002),0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,3.500,0.000,5.000
300 (2007),0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,3.000,...,0.000,0.000,0.000,0.000,3.000,0.000,0.000,5.000,0.000,4.000

In [17]:
for i in range(0, len(distances.flatten())):
    if i == 0:
        print('Recommendations for {0}:\n'.format(movies_features_df.index[query_index]))
    else:
        print('{0}:{1}, with distance of {2}:'.format(i, movies_features_df.index[indices.flatten()[i]], distances.flatten()[i]))

Recommendations for Austin Powers: The Spy Who Shagged Me (1999):

1:Austin Powers: International Man of Mystery (1997), with distance of 0.2481430172920227:
2:American Pie (1999), with distance of 0.3662390112876892:
3:South Park: Bigger, Longer and Uncut (1999), with distance of 0.43402284383773804:
4:Indiana Jones and the Temple of Doom (1984), with distance of 0.4383839964866638:
5:Men in Black (a.k.a. MIB) (1997), with distance of 0.44469213485717773: